#bio-div {
  padding: 1rem 2.25rem;
  @media only screen and (min-width: 600px) {
    padding: 0.5rem;
    width: 45%;
  }
}

#h1 {
  color: black;
  margin: 0;
}

#h2 {
  color: black;
  margin: 0;
}

#bio-text {
  color: black;
  border-top: 1rem;
}
