#bio-div {
  padding: 1rem 2.25rem;
  @media only screen and (min-width: 600px) {
    padding: 0.5rem;
    max-width: 40vw;
  }
}

#h1 {
  color: var(--primary-yellow);
  margin: 0;
}

#h2 {
  color: var(--highlight-gray);
  margin: 0;
}

#bio-text {
  color: var(--highlight-gray);
  border-top: 1rem;
}
