footer {
  background-color: var(--primary-green);
  color: var(--highlight-gray);
  @media only screen and (min-width: 600px) {
    height: 22vh;
  }
}

footer div {
  padding: 0.75rem;
  @media only screen and (min-width: 600px) {
    padding: 0;
  }
}

footer div li {
  padding-left: 1rem;
  @media only screen and (min-width: 600px) {
    padding-left: 0;
  }
}

footer h3 {
  margin-bottom: 0.5rem;
}

#logo-div-mobile {
  display: flex;
  justify-content: center;
  @media only screen and (min-width: 600px) {
    display: none;
  }
}

#logo-div-desktop {
  display: none;
  @media only screen and (min-width: 600px) {
    display: flex;
    justify-content: center;
  }
}

footer img {
  object-fit: cover;
  width: 10vw;
  margin: auto 0;
  @media only screen and (min-width: 600px) {
    width: 6vh;
    height: 10vh;
    margin: auto 0;
  }
}

footer ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: auto 0;
  gap: 1rem;
  padding: 0;
  @media only screen and (min-width: 600px) {
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    margin: auto 0;
  }
}

footer ul div {
  padding-bottom: 1rem;
  vertical-align: top;
}

footer p {
  margin: 0;
  padding-left: 1rem;
  @media only screen and (min-width: 600px) {
    padding-left: 0;
  }
}

#socials-list {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 1rem;
  @media only screen and (min-width: 600px) {
    padding-left: 0;
    gap: 1rem;
  }
}

#socials-list li {
  padding: 0;
}
