#hero-banner {
  background-color: var(--primary-green);
  @media only screen and (min-width: 600px) {
    height: 300px;
  }
}

#padding-div {
  display: flex;
  flex-direction: column;
  @media only screen and (min-width: 600px) {
    padding: 2rem 5rem;
    flex-direction: row;
    justify-content: space-between;
  }
  img {
    object-fit: cover;
    order: -1;
    height: 225px;
    @media only screen and (min-width: 600px) {
      order: 0;
      height: 350px;
      width: 275px;
      border-radius: 8px;
    }
  }
}

