header nav a {
  margin: auto 0;
}

header nav ul li {
  margin: auto 0;
  padding-top: 3px;
}

.navlink {
  color: black;
}

.navlink:hover {
  text-decoration: none; 
}

.active-navlink {
  color: var(--primary-yellow);
  font-weight: 900;
}

.active-navlink:hover { 
  text-decoration: none; 
} 
