header nav {
  height: 100%;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  margin: auto;
  width: 100%;
  @media only screen and (min-width: 600px) {
    flex-direction: row;
  }
}

header nav ul {
  padding: 0;
}

header nav ul li {
  justify-content: center;
}

#logo-menu-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#logo-menu-div a {
  justify-content: space-around;
}

#logo-menu-div a:hover { 
  text-decoration: none; 
} 

#menu-icon-box {
  width: 3.2rem;
  height: 3.2rem;
  font-size: 2.25rem;
  color: black;
  display: flex;
  @media only screen and (min-width: 600px) {
    display: none;
  }
}

#spacer-menu-div {
  width: 3.2rem;
  height: 3.2rem;
  @media only screen and (min-width: 600px) {
    display: none;
  }
}

#menu-icon-box icon {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.open-menu li {
  display: flex;
}

.closed-menu li {
  display: none;
  @media only screen and (min-width: 600px) {
    display: flex;
  }
}

.closed-menu #menu-icon-box {
  background: white;
  color: black;
}

.closed-menu #menu-icon-box:hover {
  background: var(--highlight-gray);
  color: var(--highlight-gray-dark);
}

.open-menu #menu-icon-box {
  background: var(--highlight-gray);
  color: var(--highlight-gray-dark);
}
