#reserve-div {
  padding: 1rem 2.25rem;
  /* text-align: center; */
  @media only screen and (min-width: 600px) {
    padding: 0.5rem;
    max-width: 40vw;
  }
}

#h1 {
  color: var(--primary-yellow);
  margin: 0;
}

#h2 {
  color: var(--highlight-gray);
  margin: 0;
}

#h3 {
  color: var(--highlight-gray);
  margin: 0;
}

#reserve-text {
  color: var(--highlight-gray);
  border-top: 1rem;
}
