#section {
  @media only screen and (min-width: 600px) {
    min-height: 500px;
  }
}

#padding-div {
  display: flex;
  flex-direction: column;
  padding: 1rem 2.25rem;
  @media only screen and (min-width: 600px) {
    padding: 2rem 5rem;
  }
}

#section-h1 {
  color: black;
  text-align: center;
  @media only screen and (min-width: 600px) {
    text-align: left;
  }
}

#specials-list {
  padding: 1.5rem;
  display: grid;
  grid-auto-rows: 19rem;
  justify-content: space-evenly;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(11rem, max-content));
  @media only screen and (min-width: 600px) {
    grid-template-columns: repeat(3, minmax(11rem, max-content));
    justify-content: center;
    gap: 2rem;
  }
}
