#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  height: 8vh;
  overflow: hidden;
}

header nav {
  height: 100%;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header nav a {
  margin: auto 0;
}

header nav ul {
   padding: 0;
}

header nav ul li {
  margin: auto 0;
}

main {
  flex: 1;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  margin: auto;
}

footer {
  height: 22vh;
}

footer h3 {
  margin-bottom: 0.5rem;
}

footer img {
  object-fit: cover;
  height: 6vh;
  margin: auto 0;
}

footer ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto 0;
  gap: 1rem;
  padding: 0;
}

footer ul div {
  padding-bottom: 1rem;
  vertical-align: top;
}

/* Larger than mobile */
@media only screen and (min-width: 600px) {
  footer img {
    object-fit: cover;
    height: 10vh;
    margin: auto 0;
  }
  footer ul {
    gap: 5rem;
    margin: auto 0;
  }
}
